:root {
  --color-primary: #0496ff;
  --color-secondary: #55dde0;
  --color-accent: #e63946;
  --color-heading: #03045e;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-icon: #bde0fe;
  --color-border: #ccc;
  --border-radius: 3rem;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/*************************** Typography *********************************/
html {
  /* 62.5% * 16px = 10px */
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  line-height: 1.1;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/**************************** Links *******************************/
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.3s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/***************************** Badges ******************************/
/* block */
.badge {
  border-radius: 20px;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}
/* modifier */
.badge--primary {
  background-color: var(--color-primary);
  color: white;
}
/* modifier */
.badge--secondary {
  background-color: var(--color-secondary);
  color: white;
}
/* modifier */
.badge--accent {
  background-color: var(--color-accent);
  color: white;
}
/* modifier */
.badge--small {
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
}
/* modifier */
.badge--large {
  font-size: 3rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/**************************** Lists ***************************/
/* block */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-heading);
}
/* modifier --> elements */
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
/* modifier */
.list--tick {
  list-style-image: url(../images/icons/tick.svg);
  padding-left: 3rem;
}
/* modifier --> elements */
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/************************** Icons ******************************/
.icon {
  width: 40px;
  height: 40px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon--white {
  fill: white;
}
.icon--small {
  width: 30px;
  height: 30px;
}
.icon-container {
  align-items: center;
  background-color: var(--color-icon);
  border-radius: 100%;
  display: inline-flex;
  height: 62px;
  justify-content: center;
  width: 62px;
}
.icon-container-accent {
  background-color: var(--color-accent);
}

/**************** buttons *************************/
.btn {
  border-radius: var(--border-radius);
  color: var(--color-heading);
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 3rem;
  margin: 1rem 0;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  transition: color 0.2s, background-color 0.2s;
  text-align: center;
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
}
.btn--primary.btn__outline:hover {
  background-color: white;
  color: var(--color-primary);
  border: 1.7px solid var(--color-primary);
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: white;
}
.btn--secondary.btn__outline:hover {
  background-color: white;
  color: var(--color-secondary);
  border: 1.7px solid var(--color-secondary);
}
.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}
.btn--accent {
  background-color: var(--color-accent);
  color: white;
}
.btn--accent.btn__outline:hover {
  background-color: white;
  color: var(--color-accent);
  border: 1.7px solid var(--color-accent);
}
.btn--block {
  display: inline-block;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/***************** Inputs ***********************/
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.1);
  color: var(--color-heading);
  font-size: 2rem;
  outline: none;
  padding: 1.5rem 3.5rem;
  transition: border 0.6s;
}
.input:focus {
  outline: none;
  border: 1px solid var(--color-heading);
}
::placeholder {
  color: var(--color-body);
  font-size: 1.5rem;
}
.input-group {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  display: flex;
}
.input-group .input {
  border: none;
  box-shadow: none;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}
.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/********************************* Cards ************************************/
.card {
  border-radius: 10px;
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card__header,
.card__body {
  padding: 2rem 3rem;
}
/* modifier --> elements */
.card--primary .card__header {
  background-color: var(--color-primary);
  color: white;
}
/* modifier --> elements */
.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: white;
}
/* modifier --> modifier */
.card--primary .badge--primary {
  background-color: var(--color-heading);
  color: white;
}
/*********************** plans ***********************************/
/* elements */
.plan__name {
  color: white;
  margin: 0;
  font-size: 2.4rem;
  font-weight: 500;
}
/* elements */
.plan__price {
  font-size: 6rem;
}
/* elements */
.plan__billing-cycle {
  font-size: 2.4rem;
  opacity: 0.8;
  font-weight: 300;
  margin-right: 1rem;
}
/* elements */
.plan__description {
  font-size: 2rem;
  font-weight: 300;
  display: block;
  margin-top: 1rem;
}
.plan .list__item {
  margin-bottom: 1.5rem;
}
/* popular plan */
.plan--popular .card__header {
  position: relative;
}
.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 45px;
  position: absolute;
  top: -6px;
  right: 5%;
}
@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}
/****************************** Media **********************************/
.media__image {
  margin-top: 1rem;
}
.media {
  display: flex;
}
.media__title {
  margin-top: 0;
}
.media__body {
  margin: 0 2rem;
}
/* ***************************** Quote ***************************** */
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
}
.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}
.quote .media__title {
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}
.quote .media__text {
  font-size: 1.5rem;
  opacity: 0.4;
  color: var(--color-heading);
}
.quote .media__image {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote .media__title {
    font-size: 2.5rem;
  }
  .quote .media__text {
    font-size: 1.7rem;
  }
}
/* *************************** grid  ******************************* */
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* *********************************Testimonials**************************************** */
.testimonial {
  padding: 3rem;
}
.testimonial__image {
  position: relative;
}
.testimonial__image > img {
  width: 100%;
  border-radius: 5px;
}
.testimonial .icon-container {
  position: absolute;
  top: 3rem;
  right: -31px;
}
.testimonial .quote {
  margin-left: 6rem;
}
@media screen and (max-width: 1024px) {
  .testimonial .quote__text,
  .testimonial .media__title {
    font-size: 2rem;
  }
}
/* ******************* Callouts ********************** */
.callout {
  color: white;
  padding: 4rem;
  border-radius: 5px;
}
.callout--primary {
  background-color: var(--color-primary);
}
.callout__heading {
  color: white;
}
.callout .btn {
  /* align-self: stretch;
  justify-self: stretch; */
  align-self: center;
  justify-self: center;
}
.callout__content {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}
/* ***************************** Collapsible ************************************ */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__heading {
  margin-top: 0;
  font-size: 3.5rem;
}
/* expanded */
.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in;
}
.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}
/* expanded */
.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
/* ********************** Blocks ******************************** */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 3rem;
}
.block__heading {
  margin-top: 0;
}
.block--dark {
  background-color: #000;
  color: #7b858b;
}
.block--dark .block__heading {
  color: white;
}
.clip-skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.clip-skewed-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.block__header {
  text-align: center;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/***************************Navbar*****************************/
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}
.nav__logo {
  margin-top: 7px;
}
.nav__toggler {
  opacity: 0.5;
  cursor: pointer;
}
.nav__list {
  width: 100%;
  margin: 0;
}
.list__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #7b858b;
}
.list__item > a {
  color: #ffffff75;
  transition: color 0.5s;
}
.list__item > a:hover {
  color: white;
}
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0.9rem 2rem #555;
  transition: opacity 0.5s ease-in;
}
@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    display: flex;
    width: auto;
    font-size: 1.7rem;
    max-height: 100% !important;
    opacity: 1;
  }
  .list__item {
    border: none;
  }
}
/***************************** Hero ******************************/
.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}
.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}
.hero__image {
  width: 100%;
}
.hero__content {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    text-align: left;
    align-self: center;
  }
}
