:root {
  --color-primary: #0496ff;
  --color-secondary: #55dde0;
  --color-accent: #e63946;
  --color-heading: #03045e;
  --color-body: #918ca4;
  --color-icon: #bde0fe;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Typography */
html {
  /* 62.5% * 16px = 10px */
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.3s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  border-radius: 20px;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}
.badge--primary {
  background-color: var(--color-primary);
  color: white;
}
.badge--secondary {
  background-color: var(--color-secondary);
  color: white;
}
.badge--accent {
  background-color: var(--color-accent);
  color: white;
}
.badge--small {
  font-size: 1.5rem;
}
.badge--large {
  font-size: 3rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-heading);
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
.list--tick {
  list-style-image: url(../images/icons/tick.svg);
  padding-left: 3rem;
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/* Icons */
.icon {
  width: 40px;
  height: 40px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon-container {
  align-items: center;
  background-color: var(--color-icon);
  border-radius: 100%;
  display: inline-flex;
  height: 62px;
  justify-content: center;
  width: 62px;
}

/* buttons */
.btn {
  border-radius: 3rem;
  color: var(--color-heading);
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 3rem;
  margin: 1rem 0;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  transition: color 0.2s, background-color 0.2s;
  text-align: center;
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
}
.btn--primary.btn__outline:hover {
  background-color: white;
  color: var(--color-primary);
  border: 1.7px solid var(--color-primary);
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: white;
}
.btn--secondary.btn__outline:hover {
  background-color: white;
  color: var(--color-secondary);
  border: 1.7px solid var(--color-secondary);
}

.btn--accent {
  background-color: var(--color-accent);
  color: white;
}
.btn--accent.btn__outline:hover {
  background-color: white;
  color: var(--color-accent);
  border: 1.7px solid var(--color-accent);
}
.btn--block {
  display: inline-block;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
/* Inputs */
.input {
  border-radius: 3rem;
  border: 1px solid #ccc;
  box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  padding: 1.5rem 3.5rem;
  outline: none;
  color: var(--color-heading);
  transition: border 0.6s;
}
.input:focus {
  outline: none;
  border: 1px solid var(--color-heading);
}
::placeholder {
  color: var(--color-body);
  font-size: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
