<section>
    <div class="block block--dark clip-skewed-left hero">
        <div class="container grid grid--1x2">
            <header class="hero__content">
                <h1 class="block__heading">Cloud Hosting for Pros</h1>
                <p class="hero__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, facere!</p>
                <a href="#" class="btn btn--accent btn--stretched">GET STARTED</a>
            </header>
            <img class="hero__image" src="./images/banner.png" alt="banner">
        </div>
    </div>
</section>