<nav class="nav collapsible">
    <a href="#"><img src="./images/logo.svg" class="nav__logo" alt="logo"></a>
    <svg class="icon icon--white nav__toggler">
        <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
        <li class="list__item"><a href="#">Hosting</a></li>
        <li class="list__item"><a href="#">VPS</a></li>
        <li class="list__item"><a href="#">Domains</a></li>
        <li class="list__item"><a href="#">Pricing</a></li>
    </ul>
</nav>
<script src="js/main.js"></script>