<section class="block">
    <header>
        <div class="block__header">
            <h2>Lorem ipsum dolor sit amet.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quisquam quidem quasi reprehenderit ratione
                saepe
                beatae aperiam quibusdam architecto corporis!</p>
        </div>
    </header>
    <div class="container">
        <div class="card testimonial">
            <div class="grid grid--1x2">
                <div class="testimonial__image">
                    <img src="./images/testimonial.jpg" alt="customer smile" />
                    <span class="icon-container icon-container-accent">
                        <svg class="icon icon--white icon--small">
                            <use xlink:href="images/sprite.svg#quotes"></use>
                        </svg>
                    </span>
                </div>
                <blockquote class="quote">
                    <p class="quote__text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae
                        unde accusantium aut, at voluptas rerum enim iste provident placeat,
                        possimus reiciendis, harum quo repellat aspernatur nam deleniti
                        tempore dolore alias?
                    </p>
                    <footer>
                        <div class="media">
                            <div class="media__image">
                                <svg class="icon icon--primary">
                                    <use xlink:href="images/sprite.svg#line"></use>
                                </svg>
                            </div>
                            <div class="media__body">
                                <h3 class="media__title">John Smith</h3>
                                <p class="media__text">ABC Company</p>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>